$text-color: skyblue;
$text: darkblue;
$size: 15 px;
$family: Arial, "Helvetica Neue";

h1,
p {
  margin-left: 20px;
  margin-top: 40px;
  color: $text-color;
}

img {
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  display: block;
  width: 1080px;
}
